---
layout: generic_collection_item
image_viewer: 'openseadragon'
pagination: true
meta:
  - label: 'Label'
    value: page.label
  - label: 'Titles'
    value: page.titles
  - label: 'Title: no Path = sort of a node count'
    value: page.title
  - label: 'Title: path with `.`'
    value: page.titles.title
  - label: 'Title: no Path with index'
    value: page.title[0]
  - label: 'Title: Path with `|`'
    value: page.titles|title
  - label: 'Title: Path with `.`'
    value: page.titles.title
  - label: 'Title: no Path with selector'
    value: page.title[lang="ar"]
  - label: 'IIIF Manifest'
    value: page.manifest
    type:  link
---
